<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog_domain.mapper.ArtTagMapper">

<!--    arttaglist-->
    <select id="selectArtTagList" resultType="com.example.blog_domain.vo.arttag.SelectArtTagVo">
        select artid, tagid, tagname
        from art_tag,tag
        where tag.id = tagid AND artid IN
        <foreach collection="artids" item="artid" open="(" separator="," close=")">
             #{artid}
        </foreach>
    </select>

</mapper>


